// bower:scss
// endbower

*{
  font-family: 'Open Sans', sans-serif;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #f56f6c;
  padding-top: 20px;
  padding-bottom: 20px;
  &.slide_bg_1, &.slide_bg_2, &.slide_bg_3, &.slide_bg_4{
    transition: all 500ms ease-out;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
  }
  &.slide_bg_1{
    background-color: #f56f6c;
  }
  &.slide_bg_2{
    background-color: #F5AE44;
  }
  &.slide_bg_3{
    background-color: #69DBF5;
  }
  &.slide_bg_4{
    background-color: #B3E47C;
  }
}

.container{
  display: block;
  float: left;
  width: 100%;
  height: 100%;
}

.block{
  display: block;
}

.clearfix{
  clear: both;
}

.title_text{
  position: absolute;
  top: 50%;
  margin-top: -250px;
  right: 0;
  left: 0;
  height: 45px;
  opacity: 0.6;
  .title_the{
    opacity: 0.4;
  }
  .actual_title{
    position: absolute;
    bottom: 0;
    line-height: 20px;
    font-size: 20px;
    left: 0;
    right: 0;
    opacity: 0;
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transition: transform 100ms ease-out;
    -webkit-transition: -webkit-transform 100ms ease-out;
    -moz-transition: -moz-transform 100ms ease-out;
    &.selected{
      opacity: 0.6;
      transition: all 400ms ease-out 200ms;
      -webkit-transition: all 400ms ease-out 200ms;
      -moz-transition: all 400ms ease-out 200ms;
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
    }
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}


#orbit{
  stroke-dasharray: 350;
  // animation: dash 2s cubic-bezier(.76,.97,.87,.92) infinite, opacity 2s ease-out infinite;
  // -webkit-animation: dash 2s cubic-bezier(.76,.97,.87,.92) infinite, opacity 2s ease-out infinite;
  // -moz-animation: dash 2s cubic-bezier(.76,.97,.87,.92) infinite, opacity 2s ease-out infinite;
}

#orbit2{
  stroke-dasharray: 250;
  // stroke-dasharray: 290;
  // animation: connect 1.3s linear infinite;
  // -webkit-animation: connect 1.3s linear infinite;
  // -moz-animation: connect 1.3s linear infinite;


  //  animation: dash2 1.3s cubic-bezier(.76,.97,.87,.92) infinite, connect 1.3s linear infinite;
  // -webkit-animation: dash2 1.3s cubic-bezier(.76,.97,.87,.92) infinite, connect 1.3s linear infinite;
  // -moz-animation: dash2 1.3s cubic-bezier(.76,.97,.87,.92) infinite, connect 1.3s linear infinite;
}

// Triangular
// #orbit{
  // animation: swing 2s cubic-bezier(.76,.97,.87,.92) infinite;
//   stroke-dasharray: 200;
//   animation: dash3 2s cubic-bezier(.76,.97,.87,.92) infinite, opacity 2s ease-out infinite;
// }
.opacity_animation{
  animation-direction: alternate;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
}


.hold_svg{
  &.triangular{
    // animation: roll3 2s ease-in-out infinite;
  }
  &.squiggle{
    // animation: roll 3s ease-in-out infinite;
    // -webkit-animation: roll 3s ease-in-out infinite;
    // -moz-animation: roll 3s ease-in-out infinite;
  }
  &.circular{
    animation: roll2 9.8s linear infinite;
    -webkit-animation: roll2 9.8s linear infinite;
    -moz-animation: roll2 9.8s linear infinite;
  }
  &.line .ab_pos{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    &.invert{
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
    }
  }
}

.op_one{
  animation: opacone 6s ease-in-out infinite; 
  -webkit-animation: opacone 6s ease-in-out infinite; 
  -moz-animation: opacone 6s ease-in-out infinite; 
}

.op_two{
  animation: opactwo 6s ease-in-out infinite; 
  -webkit-animation: opactwo 6s ease-in-out infinite; 
  -moz-animation: opactwo 6s ease-in-out infinite; 
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  10% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes swing {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  10% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@keyframes opacone {
  0% {
    opacity: 0.8;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}
@-webkit-keyframes opacone {
  0% {
    opacity: 0.8;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes opactwo {
  0% {
    opacity: 0.7;
  }
  35% {
    opacity: 0.9;
  }
  65% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.7;
  }
}
@-webkit-keyframes opactwo {
  0% {
    opacity: 0.7;
  }
  35% {
    opacity: 0.9;
  }
  65% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.7;
  }
}

@keyframes dash2 {
  0% {
    stroke-dashoffset: 250;
  }
  10% {
    stroke-dashoffset: 235;
  }
  45% {
    stroke-dashoffset: 55;
  }
  55% {
    stroke-dashoffset: -55;
  }
  90% {
    stroke-dashoffset: -190;
  }
  100% {
    stroke-dashoffset: -205;
  }
}
@-webkit-keyframes dash2 {
  0% {
    stroke-dashoffset: 250;
  }
  10% {
    stroke-dashoffset: 235;
  }
  45% {
    stroke-dashoffset: 55;
  }
  55% {
    stroke-dashoffset: -55;
  }
  90% {
    stroke-dashoffset: -190;
  }
  100% {
    stroke-dashoffset: -205;
  }
}

@keyframes dash3 {
  0% {
    stroke-dashoffset: 200;
  }
  5% {
    stroke-dashoffset: 180;
  }
  40% {
    stroke-dashoffset: 30;
  }
  50% {
    stroke-dashoffset: -30;
  }
  75% {
    stroke-dashoffset: -180;
  }
  80% {
    stroke-dashoffset: -200;
  }
}
@-webkit-keyframes dash3 {
  0% {
    stroke-dashoffset: 200;
  }
  5% {
    stroke-dashoffset: 180;
  }
  40% {
    stroke-dashoffset: 30;
  }
  50% {
    stroke-dashoffset: -30;
  }
  75% {
    stroke-dashoffset: -180;
  }
  80% {
    stroke-dashoffset: -200;
  }
}

@keyframes connect{
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  40% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    transform: rotate(70deg);
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg);
  }
}
@-webkit-keyframes connect{
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  40% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    transform: rotate(65deg);
    -webkit-transform: rotate(65deg);
    -moz-transform: rotate(65deg);
  }
}

@keyframes dash {
  from{
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 700;
  }
}
@-webkit-keyframes dash {
  from{
    stroke-dashoffset: -900;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes opacity {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.7;
  }
  43% {
    opacity: 1;
  }
  57%{
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.7;
  }
  43% {
    opacity: 1;
  }
  57%{
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes roll {
  0% {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
  }
  43%{
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
  }
  57% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
}
@-webkit-keyframes roll {
  0% {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
  }
  43%{
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
  }
  57% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
}

@keyframes roll2 {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes roll2 {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@keyframes roll3 {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  90% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
  }
}
@-webkit-keyframes roll3 {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  90% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  100% {
    transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
  }
}

.slide-map{
  position: absolute;
  top: 80%;
  left: 50%;
  // margin-left: -26px;
  // transition: all 600ms cubic-bezier(.07,1.09,.23,.99);
  // -webkit-transition: all 600ms cubic-bezier(.07,1.09,.23,.99);
  // -moz-transition: all 600ms cubic-bezier(.07,1.09,.23,.99);
  margin-left: -104px;
  .slide-indicator{
    height: 22px;
    width: 22px;
    margin: 15px;
    // background-color: grey;
    border-radius: 50%;
    display: block;
    float: left;
    opacity: 0.4;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transform-origin: 50% 100% 0;
    -moz-transform-origin: 50% 100% 0;
    -webkit-transform-origin: 50% 100% 0;
    &.selected{
      transform: scale(1.4);
      -webkit-transform: scale(1.4);
      -moz-transform: scale(1.4);
      opacity: 1;
      transition: all 300ms cubic-bezier(.21,.62,.44,1.33);
      -webkit-transition: all 300ms cubic-bezier(.21,.62,.44,1.33);
      -moz-transition: all 300ms cubic-bezier(.21,.62,.44,1.33);
    }
  }
  // &.slide_current_2{
  //   margin-left: -78px;
  // }
  // &.slide_current_3{
  //   margin-left: -132px;
  // }
  // &.slide_current_4{
  //   margin-left: -184px;
  // }
}

.button{
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid black;
}

.footer{
  padding: 0;
  border: 0;
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 0.6em;
  a{
    text-decoration: none;
    color: #246a76;
  }
}

.load{
  width: 120px;
  height: 120px;
  margin-left:-60px;
  margin-top:-60px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url('../images/load.png');
  background-repeat: no-repeat;
  background-size: 120px;
  background-position: center;
  animation-name: mymove;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(.57,.1,.48,.9);
  animation-delay: 0;
  animation-iteration-count: infinite;
}

.hold_svg{
  width: 120px;
  height: 120px;
  margin-left:-60px;
  margin-top:-80px;
  position: absolute;
  left: 50%;
  top: 50%;
  svg{
    position:relative;
    height:100%;
    width:100%;
    display: block;
    float:left;
    overflow: visible;
  }
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
