// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  background-color: #f56f6c;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}


#orbit{
  stroke-dasharray: 460;
  animation: dash 2s cubic-bezier(.76,.97,.87,.92) infinite, opacity 2s ease-out infinite;
}

#orbit2{
  stroke-dasharray: 250;
  // stroke-dasharray: 290;
  animation: dash2 1.2s cubic-bezier(.76,.97,.87,.92) infinite, connect 1.2s linear infinite, opacity 1.2s ease-out infinite;
}

// Triangular
// #orbit3{
//   stroke-dasharray: 200;
//   animation: dash3 2s cubic-bezier(.76,.97,.87,.92) infinite, opacity 2s ease-out infinite;
// }

.hold_svg{
  &.triangular{
    // animation: roll3 2s ease-in-out infinite;
  }
  &.squiggle{
    animation: roll 2s ease-in-out infinite;
  }
  &.circular{
    animation: roll2 1.2s ease-in-out infinite;
  }
}

@keyframes dash2 {
  0% {
    stroke-dashoffset: 250;
  }
  10% {
    stroke-dashoffset: 235;
  }
  45% {
    stroke-dashoffset: 55;
  }
  55% {
    stroke-dashoffset: -55;
  }
  90% {
    stroke-dashoffset: -190;
  }
  100% {
    stroke-dashoffset: -205;
  }
}

@keyframes dash3 {
  0% {
    stroke-dashoffset: 200;
  }
  5% {
    stroke-dashoffset: 180;
  }
  40% {
    stroke-dashoffset: 30;
  }
  50% {
    stroke-dashoffset: -30;
  }
  75% {
    stroke-dashoffset: -180;
  }
  80% {
    stroke-dashoffset: -200;
  }
}

@keyframes connect{
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(65deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 460;
  }
  43% {
    stroke-dashoffset: 10;
  }
  57% {
    stroke-dashoffset: 10;
  }
  100% {
    stroke-dashoffset: -450;
  }
}

@keyframes opacity {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.7;
  }
  43% {
    opacity: 1;
  }
  57%{
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes roll {
  0% {
    transform: rotate(-180deg);
  }
  43%{
    transform: rotate(-180deg);
  }
  57% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes roll2 {
  0% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes roll3 {
  0% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(120deg);
  }
}

.button{
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid black;
}

.load{
  width: 120px;
  height: 120px;
  margin-left:-60px;
  margin-top:-60px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url('../images/load.png');
  background-repeat: no-repeat;
  background-size: 120px;
  background-position: center;
  animation-name: mymove;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(.57,.1,.48,.9);
  animation-delay: 0;
  animation-iteration-count: infinite;
}

.hold_svg{
  width: 120px;
  height: 120px;
  margin-left:-60px;
  margin-top:-60px;
  position: absolute;
  left: 50%;
  top: 50%;
  svg{
    position:relative;
    height:100%;
    width:100%;
    display: block;
    float:left;
    overflow: visible;
  }
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
