<div class="hold_svg triangular">
	<svg viewbox="0 0 100 100">
        <path fill="none" stroke="#246a76" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
        <animate 
                 attributeName="d" 
                 dur="2000ms" 
                 repeatCount="indefinite"
                 calcMode="spline" 
                 keySplines=".71,1.21,.74,1.12;
                 			.71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                 			.71,1.21,.74,1.12;
                 			"
                 values="M 0, 10
                         L 0, 10
                         M 100, 30
                         L 100, 30
                         M 0, 50
                         L 0, 50
                         M 100, 70
                         L 100, 70
                         M 0, 90
                         L 0, 90
                         Z;

                         M 0, 10
                         L 100, 10 
                         M 100, 30
                         L 100, 30
                         M 0, 50
                         L 0, 50
                         M 100, 70
                         L 100, 70
                         M 0, 90
                         L 0, 90
                         Z;

                         M 0, 10
                         L 100, 10 
                         M 100, 30
                         L 0, 30
                         M 0, 50
                         L 0, 50
                         M 100, 70
                         L 100, 70
                         M 0, 90
                         L 0, 90
                         Z;

                         M 0, 10
                         L 100, 10 
                         M 100, 30
                         L 0, 30
                         M 0, 50
                         L 100, 50
                         M 100, 70
                         L 100, 70
                         M 0, 90
                         L 0, 90
                         Z;

                         M 0, 10
                         L 100, 10 
                         M 100, 30
                         L 0, 30
                         M 0, 50
                         L 100, 50
                         M 100, 70
                         L 0, 70
                         M 0, 90
                         L 0, 90
                         Z;

                         M 0, 10
                         L 100, 10 
                         M 100, 30
                         L 0, 30
                         M 0, 50
                         L 100, 50
                         M 100, 70
                         L 0, 70
                         M 0, 90
                         L 100, 90
                         Z;"/>

     <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 50 50" to="90 50 50" dur="2s" begin="1s" end="1.2s" repeatCount="indefinite" values="0;0;90;90" keyTimes="0;0.8;1.2;2"/>
        </path>
    </svg>
</div>
