<div class="hold_svg triangular line">
	<svg class="ab_pos op_one" viewbox="0 0 100 100">
        <path fill="none" ng-attr-stroke="{{strk}}" stroke-width="10" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10">
        <animate 
                 attributeName="d" 
                 dur="6000ms" 
                 repeatCount="indefinite"
                 calcMode="spline" 
                 keySplines=".71,1.21,.74,1.12;
                 			.71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                 			"
                 values="M -15, 15
                         L -15, 15
                         M -15, 35
                         L -15, 35
                         M -15, 55
                         L -15, 55
                         M -15, 75
                         L -15, 75
                         M -15, 95
                         L -15, 95
                         Z;

                         M -15, 15
                         L -15, 15
                         M -15, 35
                         L -15, 35
                         M -15, 55
                         L -15, 55
                         M -15, 75
                         L -15, 75
                         M -15, 95
                         L -15, 95
                         Z;

                         M -15, 15
                         L -15, 15
                         M -15, 35
                         L -15, 35
                         M -15, 55
                         L -15, 55
                         M -15, 75
                         L -15, 75
                         M -15, 95
                         L -15, 95
                         Z;

                         M -15, 15
                         L 115, 15
                         M -15, 35
                         L -15, 35
                         M -15, 55
                         L -15, 55
                         M -15, 75
                         L -15, 75
                         M -15, 95
                         L -15, 95
                         Z;

                         M -15, 15
                         L 115, 15 
                         M -15, 35
                         L 115, 35
                         M -15, 55
                         L -15, 55
                         M -15, 75
                         L -15, 75
                         M -15, 95
                         L -15, 95
                         Z;

                         M -15, 15
                         L 115, 15 
                         M -15, 35
                         L 115, 35
                         M -15, 55
                         L 115, 55
                         M -15, 75
                         L -15, 75
                         M -15, 95
                         L -15, 95
                         Z;

                         M -15, 15
                         L 115, 15 
                         M -15, 35
                         L 115, 35
                         M -15, 55
                         L 115, 55
                         M -15, 75
                         L 115, 75
                         M -15, 95
                         L -15, 95
                         Z;

                         M -15, 15
                         L 115, 15 
                         M -15, 35
                         L 115, 35
                         M -15, 55
                         L 115, 55
                         M -15, 75
                         L 115, 75
                         M -15, 95
                         L 115, 95
                         Z;

                         M -15, 15
                         L 115, 15 
                         M -15, 35
                         L 115, 35
                         M -15, 55
                         L 115, 55
                         M -15, 75
                         L 115, 75
                         M -15, 95
                         L 115, 95
                         Z;

                         M -15, 15
                         L 115, 15 
                         M -15, 35
                         L 115, 35
                         M -15, 55
                         L 115, 55
                         M -15, 75
                         L 115, 75
                         M -15, 95
                         L 115, 95
                         Z;

                         M -15, 15
                         L 115, 15 
                         M -15, 35
                         L 115, 35
                         M -15, 55
                         L 115, 55
                         M -15, 75
                         L 115, 75
                         M -15, 95
                         L 115, 95
                         Z;

                         M -15, 15
                         L 115, 15 
                         M -15, 35
                         L 115, 35
                         M -15, 55
                         L 115, 55
                         M -15, 75
                         L 115, 75
                         M -15, 95
                         L 115, 95
                         Z;

                         M -15, 15
                         L 115, 15 
                         M -15, 35
                         L 115, 35
                         M -15, 55
                         L 115, 55
                         M -15, 75
                         L 115, 75
                         M -15, 95
                         L 115, 95
                         Z;

                         M -15, 15
                         L 115, 15 
                         M -15, 35
                         L 115, 35
                         M -15, 55
                         L 115, 55
                         M -15, 75
                         L 115, 75
                         M -15, 95
                         L 115, 95
                         Z;

                         M -15, 15
                         L 115, 15 
                         M -15, 35
                         L 115, 35
                         M -15, 55
                         L 115, 55
                         M -15, 75
                         L 115, 75
                         M -15, 95
                         L 115, 95
                         Z;

                         M -15, 15
                         L 115, 15 
                         M -15, 35
                         L 115, 35
                         M -15, 55
                         L 115, 55
                         M -15, 75
                         L 115, 75
                         M -15, 95
                         L 115, 95
                         Z;

                         M -15, 15
                         L 115, 15 
                         M -15, 35
                         L 115, 35
                         M -15, 55
                         L 115, 55
                         M -15, 75
                         L 115, 75
                         M -15, 95
                         L 115, 95
                         Z;

                         M -15, 15
                         L 115, 15 
                         M -15, 35
                         L 115, 35
                         M -15, 55
                         L 115, 55
                         M -15, 75
                         L 115, 75
                         M -15, 95
                         L 115, 95
                         Z;

                         M -15, 15
                         L 115, 15 
                         M -15, 35
                         L 115, 35
                         M -15, 55
                         L 115, 55
                         M -15, 75
                         L 115, 75
                         M -15, 95
                         L 115, 95
                         Z;

                         M -15, 15
                         L 115, 15 
                         M -15, 35
                         L 115, 35
                         M -15, 55
                         L 115, 55
                         M -15, 75
                         L 115, 75
                         M -15, 95
                         L 115, 95
                         Z;

                         M -15, 15
                         L 115, 15 
                         M -15, 35
                         L 115, 35
                         M -15, 55
                         L 115, 55
                         M -15, 75
                         L 115, 75
                         M -15, 95
                         L 115, 95
                         Z;

                         M -15, 15
                         L 115, 15 
                         M -15, 35
                         L 115, 35
                         M -15, 55
                         L 115, 55
                         M -15, 75
                         L 115, 75
                         M -15, 95
                         L 115, 95
                         Z;

                         M 115, 15
                         L 115, 15 
                         M -15, 35
                         L 115, 35
                         M -15, 55
                         L 115, 55
                         M -15, 75
                         L 115, 75
                         M -15, 95
                         L 115, 95
                         Z;

                         M 115, 15
                         L 115, 15 
                         M -15, 35
                         L 115, 35
                         M -15, 55
                         L 115, 55
                         M -15, 75
                         L 115, 75
                         M -15, 95
                         L 115, 95
                         Z;

                         M 115, 15
                         L 115, 15 
                         M 115, 35
                         L 115, 35
                         M -15, 55
                         L 115, 55
                         M -15, 75
                         L 115, 75
                         M -15, 95
                         L 115, 95
                         Z;

                         M 115, 15
                         L 115, 15 
                         M 115, 35
                         L 115, 35
                         M 115, 55
                         L 115, 55
                         M -15, 75
                         L 115, 75
                         M -15, 95
                         L 115, 95
                         Z;

                         M 115, 15
                         L 115, 15 
                         M 115, 35
                         L 115, 35
                         M 115, 55
                         L 115, 55
                         M 115, 75
                         L 115, 75
                         M -15, 95
                         L 115, 95
                         Z;

                         M 115, 15
                         L 115, 15 
                         M 115, 35
                         L 115, 35
                         M 115, 55
                         L 115, 55
                         M 115, 75
                         L 115, 75
                         M 115, 95
                         L 115, 95
                         Z;

                         M 115, 15
                         L 115, 15 
                         M 115, 35
                         L 115, 35
                         M 115, 55
                         L 115, 55
                         M 115, 75
                         L 115, 75
                         M 115, 95
                         L 115, 95
                         Z;

                         M 115, 15
                         L 115, 15 
                         M 115, 35
                         L 115, 35
                         M 115, 55
                         L 115, 55
                         M 115, 75
                         L 115, 75
                         M 115, 95
                         L 115, 95
                         Z;"/>
                         
        </path>
    </svg>
    <svg class="ab_pos op_two" viewbox="0 0 100 100">
        <path fill="none" ng-attr-stroke="{{strk}}" stroke-width="10" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10">
        <animate class="opacity_animation"
                 attributeName="d" 
                 dur="6000ms" 
                 repeatCount="indefinite"
                 calcMode="spline" 
                 keySplines=".71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            .71,1.21,.74,1.12;
                            "
                 values="M 115, 5
                         L 115, 5
                         M 115, 25
                         L 115, 25
                         M 115, 45
                         L 115, 45
                         M 115, 65
                         L 115, 65
                         M 115, 85
                         L 115, 85
                         Z;

                         M 115, 5
                         L 115, 5
                         M 115, 25
                         L 115, 25
                         M 115, 45
                         L 115, 45
                         M 115, 65
                         L 115, 65
                         M 115, 85
                         L 115, 85
                         Z;

                         M 115, 5
                         L 115, 5
                         M 115, 25
                         L 115, 25
                         M 115, 45
                         L 115, 45
                         M 115, 65
                         L 115, 65
                         M 115, 85
                         L 115, 85
                         Z;

                         M 115, 5
                         L 115, 5 
                         M 115, 25
                         L 115, 25
                         M 115, 45
                         L 115, 45
                         M 115, 65
                         L 115, 65
                         M 115, 85
                         L -15, 85
                         Z;

                         M 115, 5
                         L 115, 5 
                         M 115, 25
                         L 115, 25
                         M 115, 45
                         L 115, 45
                         M 115, 65
                         L -15, 65
                         M 115, 85
                         L -15, 85
                         Z;

                         M 115, 5
                         L 115, 5 
                         M 115, 25
                         L 115, 25
                         M 115, 45
                         L -15, 45
                         M 115, 65
                         L -15, 65
                         M 115, 85
                         L -15, 85
                         Z;

                         M 115, 5
                         L 115, 5
                         M 115, 25
                         L -15, 25
                         M 115, 45
                         L -15, 45
                         M 115, 65
                         L -15, 65
                         M 115, 85
                         L -15, 85
                         Z;

                         M 115, 5
                         L -15, 5 
                         M 115, 25
                         L -15, 25
                         M 115, 45
                         L -15, 45
                         M 115, 65
                         L -15, 65
                         M 115, 85
                         L -15, 85
                         Z;

                         M 115, 5
                         L -15, 5 
                         M 115, 25
                         L -15, 25
                         M 115, 45
                         L -15, 45
                         M 115, 65
                         L -15, 65
                         M 115, 85
                         L -15, 85
                         Z;

                         M 115, 5
                         L -15, 5 
                         M 115, 25
                         L -15, 25
                         M 115, 45
                         L -15, 45
                         M 115, 65
                         L -15, 65
                         M 115, 85
                         L -15, 85
                         Z;

                         M 115, 25
                         L -15, 25 
                         M 115, 45
                         L -15, 45
                         M 115, 65
                         L -15, 65
                         M 115, 85
                         L -15, 85
                         M 115, 105
                         L -15, 105
                         Z;

                         M 115, 25
                         L -15, 25 
                         M 115, 45
                         L -15, 45
                         M 115, 65
                         L -15, 65
                         M 115, 85
                         L -15, 85
                         M 115, 105
                         L -15, 105
                         Z;

                         M 115, 25
                         L -15, 25 
                         M 115, 45
                         L -15, 45
                         M 115, 65
                         L -15, 65
                         M 115, 85
                         L -15, 85
                         M 115, 105
                         L -15, 105
                         Z;

                         M 115, 25
                         L -15, 25 
                         M 115, 45
                         L -15, 45
                         M 115, 65
                         L -15, 65
                         M 115, 85
                         L -15, 85
                         M -15, 105
                         L -15, 105
                         Z;

                         M 115, 25
                         L -15, 25 
                         M 115, 45
                         L -15, 45
                         M 115, 65
                         L -15, 65
                         M -15, 85
                         L -15, 85
                         M -15, 105
                         L -15, 105
                         Z;

                         M 115, 25
                         L -15, 25 
                         M 115, 45
                         L -15, 45
                         M -15, 65
                         L -15, 65
                         M -15, 85
                         L -15, 85
                         M -15, 105
                         L -15, 105
                         Z;

                         M 115, 25
                         L -15, 25 
                         M -15, 45
                         L -15, 45
                         M -15, 65
                         L -15, 65
                         M -15, 85
                         L -15, 85
                         M -15, 105
                         L -15, 105
                         Z;

                         M -15, 25
                         L -15, 25 
                         M -15, 45
                         L -15, 45
                         M -15, 65
                         L -15, 65
                         M -15, 85
                         L -15, 85
                         M -15, 105
                         L -15, 105
                         Z;

                         M -15, 25
                         L -15, 25 
                         M -15, 45
                         L -15, 45
                         M -15, 65
                         L -15, 65
                         M -15, 85
                         L -15, 85
                         M -15, 105
                         L -15, 105
                         Z;

                         M -15, 25
                         L -15, 25 
                         M -15, 45
                         L -15, 45
                         M -15, 65
                         L -15, 65
                         M -15, 85
                         L -15, 85
                         M -15, 105
                         L -15, 105
                         Z;

                         M -15, 25
                         L -15, 25 
                         M -15, 45
                         L -15, 45
                         M -15, 65
                         L -15, 65
                         M -15, 85
                         L -15, 85
                         M -15, 105
                         L -15, 105
                         Z;

                         M -15, 25
                         L -15, 25 
                         M -15, 45
                         L -15, 45
                         M -15, 65
                         L -15, 65
                         M -15, 85
                         L -15, 85
                         M -15, 105
                         L -15, 105
                         Z;"/>
    </svg>
</div>


