<div class="hold_svg squiggle">
    <?xml version="1.0" encoding="utf-8"?>
    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">

    <svg version="1.1" id="orbit" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
    	<path fill="none" class="find_squig" ng-attr-stroke="{{strk}}" stroke-width="19" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M90.6,10.1h-73c-4.4,0-8,4.4-8,9.9v0c0,5.5,3.6,9.9,8,9.9h65c4.4,0,8,4.4,8,9.9V40c0,5.5-3.6,9.9-8,9.9h-65c-4.4,0-8,4.4-8,9.9v0.3c0,5.5,3.6,9.9,8,9.9h65c4.4,0,8,4.4,8,9.9v0c0,5.5-3.6,9.9-8,9.9h-73">
	    	<animate attributeType="XML" attributeName="stroke-dashoffset" from="0" to="700" dur="1.7s" keyTimes="0; .4; .6; 1" values="0; 400; 500; 700" repeatCount="indefinite"/>
	    	<animate 
                 attributeName="stroke"
                 dur="1.7s" 
                 repeatCount="indefinite"
                 calcMode="spline" 
                 keySplines=".75,1.3,.9,1.1;
                 			 .75,1.3,.9,1.1;
                             .75,1.3,.9,1.1"
                 keyTimes="0; .45; .55; 1"
                 values="#246a76;
                 		 #2c3e50;
                 		 #2c3e50;
                         #246a76"/>
	    </path>
    </svg>
</div>
